<main class="new-category-container">
  <div>
    <%= render partial: "shared/navbar", locals: { variable: 'NEW CATEGORY', path: categories_path } %>
  </div>
  <h1 class="register-header">Register Your Category</h1>
  <%= form_with url: categories_path, method: :post, local: true, scope: :add_category do |form| %>

    <div>
      <%= form.text_field :name, placeholder: :name, class: 'form-field', :required => true %>
    </div>

    <div>
      <%= form.label :icon, class: 'file-upload-label' do %>
        <p class="upload-icon">Upload Icon</p>
        <span class="file-name">No File Chosen</span>
      <% end %><br>
      <%= form.file_field :icon, class: 'file-field', :required => true %>
    </div>
    <div class="add-new-btn-div">
      <%= form.submit 'Register Category', class: 'submit-btn reg-cat' %>
    </div>
  <% end %>
</main>